html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #e2d3d5;
  height: 100%;
}

.container, .container-fluid {
  min-height: 100%;
}

.page-title {
  font-family: 'Montserrat', sans-serif;
  color: #3f3134;
}

.page-title, .back {
  color: #e2d3d5;
  font-family: 'Montserrat', sans-serif;
}

.header-row {
  background-color: #3f3134;
}

.back, .back:hover {
  text-decoration: none;
  font-size: 20px;
}

img {
  border-radius: 6px;
}
