html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #343a40;
  height: 100%;
}

.container, .container-fluid {
  min-height: 100%;
}

h1, .post-text {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: darkgray;
}

hr {
  background-color: darkgray;
}

.post {
  border-radius: 6px;
  background-color: white;
}

.post-text {
  color: #404040;
  font-size: 19px;
}

.post-line {
  color: #404040;
}

.post-image {
  border-radius: 6px;
}
