html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #e2d3d5;
  height: 100%;
}

.container, .container-fluid {
  min-height: 100%;
}

.post-text, .post-header, .post-line, .page-title {
  font-family: 'Montserrat', sans-serif;
  color: #304960;
}

.post-line {
  background-color: #304960;
}

.page-line {
  background-color: #304960;
}

.post {
  border-radius: 8px;
  background-color: #b2c2cf;
}

.post-text {
  font-size: 19px;
}

.home-icon {
  margin-top: 20px;
  height: 50%;
}
