html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #343a40;
  height: 100%;
}

.container, .container-fluid {
  min-height: 100%;
}

img {
  border-radius: 6px;
}

a {
  font-size: 30px;
  color: darkgray;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: darkgray;
}

hr {
  background-color: darkgray;
}

h1, p {
  color: darkgray;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 20px;
}
