body {
  background-color: #22374b;
}

.tile {
  border-radius: 6px;
}

.splash-link, .splash-link:hover, .splash-text {
  /* color: #304960; */
  color: #e2d3d5;
  font-family: 'Montserrat', sans-serif;
}

.page-header {
  font-family: 'Montserrat', sans-serif;
  color: #e2d3d5;
}

.splash-link, .splash-link:hover {
  font-size: 2.5vw;
}

hr {
  background-color: darkgray;
}

.header-row {
  background-color: #3f3134;
}

.screenimg-cont {
  min-height: 94vh;
}
