html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  /* background-color: #e2d3d5; */
  background-image: url("../~alexeast/Pictures/background.png");
  height: 100%;
}

.container, .container-fluid {
  min-height: 100%;
}

.page-title, .back, .post-text, .post-header {
  color: #e2d3d5;
  font-family: 'Montserrat', sans-serif;
}

hr {
  background-color: #e2d3d5;
  color: #e2d3d5;
}

.header-row {
  background-color: #3f3134;
}

.back, .back:hover {
  text-decoration: none;
  font-size: 20px;
}

img {
  border-radius: 6px;
}
